<!DOCTYPE html>

<html>

<head>
	<title>
		WATER PREDITION SYSTEM
	</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WATER PREDITION SYSTEM</a>
      </div>
      <div style="float:right">
        <ul class="nav navbar-nav"  >
          <li class="active"><a href="/">Home</a></li>
          <li><a href="dash">Dashboard</a></li>
          <li><a href="about">About </a></li>
          <li><a href="show">Show Graph</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 style="text-align:center">Water Prediction System</h1>
 
  <div style="padding:25px;">
    <h4 >
      The main task of the project is to build a robust application (a machine learning model)
      which could predict water consumption of the upcoming days (future days)
      using parameters like historic data of water consumption, changes in weather and population etc .
      The project is built using machine learning models.
      The project is implemented with Ensemble model which predicts accurate results.
      This project could act as an better extension to the current traditional water management system
      to manage and distribute water to a particular region and
      solves water scarcity and correct distribution of water.
    </h4>
    <ul>
      <li style="font-size: 20px;">Water consumption is increasing due to population growth and industrialisation.</li>
      <li style="font-size: 20px;"> Excessive demand is putting the present infrastructure under pressure.</li>
      <li style="font-size: 20px;">Emerging Machine Learning Algorithms can be used to better model real life problems .</li>
      <li style="font-size: 20px;">Core idea is to create a model using machine learning techniques that can accurately predict long term water usage.</li>
      <li style="font-size: 20px;">Scope of project is to help to efficiently use the existing infrastructure to supply required amount of water,using the predicted data as a reference.</li>
      <li style="font-size: 20px;"> Project is primarily targeted to be used as a tool to assist authorities to make better decisions to distribute water.</li>
      <li style="font-size: 20px;">Key idea to identify potential leakages and areas where water stress is the highest.</li>
    </ul>
</div>

</body>
</html>




